body {
  font-family: "poppins", sans-serif;
}

body.index {
  background-image: url("../images/torraviejaMobile/torraviejaMobile_1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999;
  min-width: 350px;
  width: 100%;
  height: 1250px;
}
@media (min-resolution: 2dppx) {
  body.index {
    background-image: url("../images/torraviejaMobile/torraviejaMobile_2x.jpg");
  }
}
@media (min-resolution: 3dppx) {
  body.index {
    background-image: url("../images/torraviejaMobile/torraviejaMobile_3x.jpg");
  }
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 1024px) {
  .container {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.btnUp {
  background: none;
  border: none;
  position: fixed;
  right: 4px;
  bottom: 4px;
  cursor: pointer;
  transition-duration: 250ms;
  z-index: 9999999;
}
.btnUp:focus, .btnUp:hover {
  transition-duration: 250ms;
  transform: scale(1.2);
}
.btnUp__icon {
  width: 30px;
  height: 30px;
  fill: rgb(170, 131, 67);
}
.btnUp__icon:focus, .btnUp__icon:hover {
  fill: rgb(215, 207, 120);
}

.contactWidget {
  background: none;
  border: none;
  position: fixed;
  left: 4px;
  bottom: 4px;
  cursor: pointer;
  transition-duration: 250ms;
}
.contactWidget:focus, .contactWidget:hover {
  transition-duration: 250ms;
  transform: scale(1.2);
}
.contactWidget__icon {
  width: 30px;
  height: 30px;
  fill: rgb(170, 131, 67);
}
.contactWidget__icon:focus, .contactWidget__icon:hover {
  fill: rgb(215, 207, 120);
}

.widgetEmail,
.widgetWhatsapp,
.widgetPhone {
  visibility: hidden;
  background: none;
  border: none;
  position: fixed;
  left: 4px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  z-index: 9999999;
}
.widgetEmail:focus, .widgetEmail:hover,
.widgetWhatsapp:focus,
.widgetWhatsapp:hover,
.widgetPhone:focus,
.widgetPhone:hover {
  transform: scale(1.2);
}
.widgetEmail__icon,
.widgetWhatsapp__icon,
.widgetPhone__icon {
  width: 30px;
  height: 30px;
  fill: rgb(170, 131, 67);
}
.widgetEmail__icon:focus, .widgetEmail__icon:hover,
.widgetWhatsapp__icon:focus,
.widgetWhatsapp__icon:hover,
.widgetPhone__icon:focus,
.widgetPhone__icon:hover {
  fill: rgb(215, 207, 120);
}

.widgetEmail {
  bottom: 4px;
}

.activateWidgetEmail {
  visibility: visible;
  bottom: 40px;
  transition: visibility 0s 250ms, bottom 250ms;
}

.deactivateWidgetEmail {
  visibility: hidden;
  bottom: 40px;
  transition: visibility 0s 250ms, bottom 250ms;
}

.widgetWhatsapp {
  bottom: 40px;
}

.activateWidgetWhatsapp {
  visibility: visible;
  bottom: 75px;
  transition: visibility 0s 250ms, bottom 250ms;
}

.deactivateWidgetWhatsapp {
  visibility: hidden;
  bottom: 75px;
  transition: visibility 0s 250ms, bottom 250ms;
}

.widgetPhone {
  bottom: 75px;
}

.activateWidgetPhone {
  visibility: visible;
  bottom: 110px;
  transition: visibility 0s 250ms, bottom 250ms;
}

.deactivateWidgetPhone {
  visibility: hidden;
  bottom: 110px;
  transition: visibility 0s 250ms, bottom 250ms;
}

:root {
  --primary-color: #2f303a;
  --secondary-color: #c9a845;
  --accent-color: aliceblue;
  --facebook-color: #316ff6;
  --black-steady: black;
  --white-steady: white;
  --darkMode-color: #3a3a46;
  --buttons-theme: linear-gradient(
    90deg,
    rgba(170, 131, 67, 1) 0%,
    rgba(215, 207, 120, 1) 50%,
    rgba(170, 131, 67, 1) 100%
  );
  --transition-main: 250ms ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  min-width: 350px;
}
.header__bgColor {
  background-color: var(--primary-color);
  border-bottom: 1px solid rgb(170, 131, 67);
}
.header__logo {
  width: 100px;
  height: auto;
}
.header__mobileBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__mobileBtn__icon {
  width: 30px;
  height: 30px;
  fill: var(--secondary-color);
}
.header__mobileBtn__icon:focus, .header__mobileBtn__icon:hover {
  fill: rgb(215, 207, 120);
}

.navigation {
  display: none;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
  transition: var(--transition-main);
}

.navigation a {
  text-decoration: none;
  color: var(--accent-color);
}
.navigation a:focus, .navigation a:hover {
  text-shadow: 2px 2px 2px var(--secondary-color);
}

.langFbBox {
  display: flex;
  align-items: center;
  visibility: hidden;
}

.langBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.langBtn__icon {
  width: 25px;
  height: 25px;
  fill: var(--secondary-color);
  transition: var(--transition-main);
}
.langBtn__icon:focus, .langBtn__icon:hover {
  fill: rgb(215, 207, 120);
  transform: scale(1.2);
}

.headerFb {
  text-decoration: none;
  height: 25px;
  margin-right: 20px;
}
.headerFb__icon {
  width: 25px;
  height: 25px;
  fill: var(--facebook-color);
  transition: var(--transition-main);
}
.headerFb__icon:focus, .headerFb__icon:hover {
  transform: scale(1.2);
}

@media (min-width: 1024px) {
  .navigation {
    display: flex;
  }
  .header__mobileBtn {
    display: none;
  }
  .langFbBox {
    visibility: visible;
  }
}
.langMenu {
  position: fixed;
  top: 80px;
  right: 140px;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  z-index: 999999999;
  padding: 10px;
  padding-top: 11px;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border: 2px solid var(--secondary-color);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-main);
}
.langMenu__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: space-evenly;
  margin-top: 0;
  margin-bottom: 0;
}

.activeLangMenu {
  opacity: 1;
  visibility: visible;
  transition: var(--transition-main);
}

.main {
  display: flex;
  flex-direction: column;
}
.main__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: var(--secondary-color);
  padding: 0px 50px 0px;
  text-shadow: 2px 2px 2px var(--primary-color);
  font-size: 36px;
  font-weight: 600;
}
.main__headBox {
  transition: var(--transition-main);
}
.main__headBox__description {
  color: var(--accent-color);
  font-size: 26px;
  margin: 30px 0px 30px;
  text-shadow: 2px 2px 2px var(--primary-color);
  text-align: justify;
  border-bottom: 2px solid var(--white-steady);
  padding-bottom: 30px;
  transition: var(--transition-main);
}

.infoList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
  margin: 30px 0px 40px;
  gap: 15px;
}
.infoList__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70px;
  color: var(--accent-color);
  text-shadow: 2px 2px 2px var(--primary-color);
}
.infoList__item__background {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
}
.infoList__item__background__icon {
  width: 40px;
  height: 40px;
  fill: var(--accent-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-main);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main__headBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__headBox__description {
    max-width: 350px;
    border-bottom: none;
    line-height: 1.2;
  }
  .main__headBox .infoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    gap: 5px;
  }
  .main__headBox .infoList__item {
    flex: 1 1 calc(50% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .darkTheme .main__headBox__description {
    border-bottom: none !important;
  }
}
@media (min-width: 1024px) {
  .main {
    padding-bottom: 150px;
    padding-top: 100px;
  }
  .main__headBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .main__headBox__description {
    max-width: 350px;
    border-bottom: none !important;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  .darkTheme .main__headBox__description,
  .darkTheme .infoList__item p {
    color: var(--black-steady);
    transition: var(--transition-main);
  }
  .darkTheme .infoList__item__background__icon {
    fill: var(--black-steady);
    transition: var(--transition-main);
  }
}
.darkTheme .main__headBox__description {
  border-bottom: 2px solid var(--black-steady);
}

.darkTheme .main__headBox {
  transition: var(--transition-main);
}

.aptDescription {
  background-color: var(--accent-color);
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: var(--transition-main);
}
.aptDescription__head {
  font-size: 28px;
  text-align: center;
  font-weight: 500;
  margin: 0px;
  border-bottom: 2px solid var(--primary-color);
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 500;
  transition: var(--transition-main);
}
.aptDescription__description {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: justify;
}

@media (min-width: 1024px) {
  .aptDescription__description {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.darkTheme .aptDescription {
  background-color: var(--darkMode-color);
  transition: var(--transition-main);
}

.darkTheme .aptDescription__head {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .aptDescription__description {
  color: var(--accent-color);
  transition: var(--transition-main);
}

.aptEquipment {
  background-color: var(--white-steady);
  padding-bottom: 30px;
  padding-top: 30px;
}
.aptEquipment__head {
  margin: 0px;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 500;
}
.aptEquipment__box {
  border-radius: 4px;
  border: 3px solid var(--black-steady);
  background-color: var(--accent-color);
  padding-left: 10px;
  padding-right: 10px;
  max-width: 580px;
  margin: 0 auto;
}
.aptEquipment__box__equipmentList {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.aptEquipment__box__equipmentList__item {
  max-width: 100px;
  text-align: center;
  flex-basis: calc((100% - 60px) / 2);
}
.aptEquipment__box__equipmentList__item__container {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}
.aptEquipment__box__equipmentList__item__container__icon {
  width: 65px;
  height: 65px;
  fill: var(--black-steady);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.aptEquipment__box__equipmentList > p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.aptEquipment > p {
  text-align: justify;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .aptEquipment__box {
    max-width: 890px;
  }
  .aptEquipment > p {
    margin-left: 80px;
    margin-right: 80px;
  }
}
.darkTheme .aptEquipment {
  background-color: var(--darkMode-color);
  padding-bottom: 0px;
  padding-top: 0px;
}

.darkTheme .aptEquipment__head {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme .aptEquipment p,
.darkTheme .aptEquipment__box__equipmentList__item p {
  color: var(--accent-color);
}

.darkTheme .aptEquipment__box {
  background-color: var(--darkMode-color);
  border-color: var(--accent-color);
}

.darkTheme .aptEquipment__box__equipmentList__item__container__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--primary-color);
  width: 100%;
  min-width: 350px;
  height: 100%;
  justify-content: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(170, 131, 67);
}
.footer__logo {
  width: 250px;
  height: auto;
}
.footer__address {
  margin-top: 20px;
}
.footer__address--head {
  text-align: center;
  margin-bottom: 10px !important;
}
.footer__address > p {
  color: var(--accent-color);
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0px;
  text-align: center;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer__contact > p {
  color: var(--accent-color);
  text-align: center;
  margin: 0 0 10px;
}
.footer__contact > a {
  color: var(--accent-color);
  text-align: center;
  text-decoration: none;
}
.footer__facebook {
  color: var(--accent-color);
  margin-top: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  transition: var(--transition-main);
}
.footer__facebook:focus, .footer__facebook:hover {
  transform: scale(1.05);
}
.footer__facebook--icon {
  width: 20px;
  height: 20px;
  fill: var(--facebook-color);
}
.footer__terms {
  color: var(--accent-color);
  width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 10px;
}
.footer__terms--icon {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  fill: var(--accent-color);
}

.availability {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.availability__head {
  color: var(--accent-color);
  font-size: 20px;
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}
.availability__button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background: var(--buttons-theme);
  cursor: pointer;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color);
  margin-top: 20px;
  text-decoration: none;
}
.availability__button:hover, .availability__button:focus {
  background: rgb(215, 207, 120) 50%;
  box-shadow: 5px 5px 8px rgb(48, 46, 46);
  color: rgb(48, 46, 46);
  fill: rgb(48, 46, 46);
}
.availability__button > span {
  font-size: 18px;
  font-weight: 500;
}
.availability__button > svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
  }
  .footerContent > div {
    flex-basis: calc((50% - 10px) / 4);
  }
  .footer {
    padding-top: 20px;
  }
  .footer__logo {
    width: 150px;
  }
  .footer__contact, .footer__address {
    margin-top: 0;
  }
  .availability {
    margin-top: 0;
  }
  .availability__button {
    margin-top: 5px;
  }
}
.galleryIndex {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;
}
.galleryIndex__button {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  border-style: none;
  background: var(--buttons-theme);
  cursor: pointer;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color);
  box-shadow: 5px 5px 8px var(--primary-color);
}
.galleryIndex__button > span {
  font-size: 18px;
  font-weight: 500;
}
.galleryIndex__button > svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.galleryIndex__button:focus, .galleryIndex__button:hover {
  background: rgb(215, 207, 120) 50%;
}

.swiper {
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary-color) !important;
}

@media (min-width: 1024px) {
  .swiper {
    width: 40%;
  }
}
.darkTheme .galleryIndex {
  background-color: var(--darkMode-color);
}

.darkTheme .galleryIndex__button {
  box-shadow: 5px 5px 8px var(--darkMode-color);
}

.imagesGallery {
  min-width: 350px;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.imagesGallery__header {
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
  line-height: 1.5;
  font-weight: 500;
}

.imagesGallery img {
  width: 100%;
  border-radius: 4px;
}

.lightboxEnabled {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 250ms ease-in-out;
}

.lightboxEnabled:focus,
.lightboxEnabled:hover {
  opacity: 0.8;
  cursor: zoom-in;
  transform: scale(1.01);
}

.lightboxContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  place-items: center;
  padding: 5px;
  z-index: 999999999;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in-out;
}
.lightboxContainer__iconCancel {
  width: 20px;
  height: 20px;
  fill: var(--accent-color);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.lightboxContainer.active {
  opacity: 1;
  pointer-events: all;
}

.lightboxImageWrapper {
  display: grid;
  place-items: center;
  max-width: 100vw;
  max-height: 80vh;
  position: relative;
  box-shadow: 3px 3px 10px rgba(100, 100, 100, 0.4);
}

.lightboxBtn {
  background-color: rgba(240, 248, 255, 0.8);
  place-items: center;
  padding: 0.8rem;
  fill: var(--primary-color);
  cursor: pointer;
  transition: all 250ms ease-in-out;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

.lightboxBtn svg {
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.lightboxBtn:focus {
  outline: none;
}

.lightboxBtn.inactive {
  opacity: 0;
  pointer-events: none;
}

.left {
  left: 5px;
}

.left:focus,
.left:hover {
  left: 0px;
  transition: all 250ms ease-in-out;
}

.right {
  right: 5px;
}

.right:focus,
.right:hover {
  right: 0px;
  transition: all 250ms ease-in-out;
}

.lightboxImage {
  width: 100%;
  border-radius: 4px;
  -o-object-fit: fill;
     object-fit: fill;
}

@media (min-width: 768px) {
  .imagesGallery img {
    width: 24.5%;
  }
  .lightboxImageWrapper {
    max-width: 70vw;
  }
}
@media (min-width: 1024px) {
  .lightboxImageWrapper {
    max-width: 60vw;
  }
}
.darkTheme .imagesGallery {
  background-color: var(--darkMode-color);
}

.darkTheme .imagesGallery__header {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.about {
  background-color: var(--accent-color);
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.about__image {
  width: 100%;
  border-radius: 4px;
}
.about__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin: 0;
}
.about__list__item {
  max-width: 100px;
  text-align: center;
  flex-basis: calc((100% - 60px) / 3);
}
.about__list__item__container {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}
.about__list__item__container__icon {
  width: 65px;
  height: 65px;
  fill: var(--black-steady);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.about > p {
  margin: 20px 0px 20px;
  text-align: justify;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .about__image {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .about > p {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.darkTheme .about {
  background-color: var(--darkMode-color);
}

.darkTheme .about__list__item__container__icon {
  fill: var(--accent-color);
}

.darkTheme .about p {
  color: var(--accent-color);
}

.locationIndex {
  padding-top: 30px;
  padding-bottom: 30px;
  transition: var(--transition-main);
}
.locationIndex__head {
  margin: 0;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 500;
  transition: var(--transition-main);
}
.locationIndex__description {
  margin: 20px 0px 20px;
  text-align: justify;
  transition: var(--transition-main);
  font-size: 20px;
}
.locationIndex__map {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}
.locationIndex__container {
  display: flex;
  gap: 25px;
  justify-content: space-around;
  max-width: 250px;
  margin: 0 auto;
}
.locationIndex__container__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.locationIndex__container__graphic {
  width: 80px;
  height: 80px;
  position: relative;
}
.locationIndex__container__graphic__icon {
  width: 65px;
  height: 65px;
  fill: var(--black-steady);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition-main);
}
.locationIndex__distance {
  background-color: var(--accent-color);
  border-radius: 4px;
  border: 2px solid var(--black-steady);
  margin: 0 auto;
  padding-right: 40px;
  max-width: 450px;
  transition: var(--transition-main);
}
.locationIndex__distance__list {
  margin: 0;
  padding-bottom: 15px;
  margin-top: 15px;
}

#option {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .locationIndex__map {
    display: block;
    max-width: 580px;
    justify-self: center;
  }
}
@media (min-width: 1024px) {
  .locationIndex__map {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .locationIndex__description {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.darkTheme .locationIndex {
  background-color: var(--darkMode-color);
  padding-top: 0px;
  padding-bottom: 0px;
  transition: var(--transition-main);
}

.darkTheme .locationIndex__head {
  border-bottom: 2px solid var(--accent-color);
  color: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .locationIndex__description {
  color: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme label {
  color: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme select {
  background-color: var(--darkMode-color);
  color: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .locationIndex__container__graphic__icon {
  fill: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .locationIndex__distance {
  background-color: var(--darkMode-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  transition: var(--transition-main);
}

.infoCity {
  background-color: var(--accent-color);
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.infoCity__head {
  margin: 0px 0px 20px;
  text-align: center;
  border-bottom: 2px solid var(--primary-color);
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 500;
}
.infoCity__image {
  width: 100%;
  border-radius: 4px;
}

.infoCity > p {
  margin: 20px 0px 0px;
  text-align: justify;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .infoCity__image {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .infoCity > p {
    margin-left: 100px;
    margin-right: 100px;
  }
}
.darkTheme .infoCity {
  background-color: var(--darkMode-color);
  padding-bottom: 0px;
  padding-top: 0px;
}

.darkTheme .infoCity__head {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme p {
  color: var(--accent-color);
}

.travel {
  background-color: var(--accent-color);
  border-bottom: 30px solid var(--white-steady);
  transition: var(--transition-main);
}
.travel__box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
}
.travel__box__graphic {
  width: 150px;
  height: auto;
}

@media (min-width: 1024px) {
  .travel {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  .travel__box {
    margin: 0;
  }
}
.darkTheme .travel {
  background-color: var(--darkMode-color);
  border-bottom: 0px;
  transition: var(--transition-main);
}

.darkTheme .travel li {
  color: var(--accent-color);
  transition: var(--transition-main);
}

.contactIndex {
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactIndex__head {
  margin: 0;
  padding-top: 30px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
}
.contactIndex__container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 20px;
}
.contactIndex__container__button {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background: var(--buttons-theme);
  cursor: pointer;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color);
  text-decoration: none;
  box-shadow: 5px 5px 8px var(--primary-color);
}
.contactIndex__container__button:focus, .contactIndex__container__button:hover {
  background: rgb(215, 207, 120) 50%;
  box-shadow: 5px 5px 8px rgb(48, 46, 46);
  color: rgb(48, 46, 46);
  fill: rgb(48, 46, 46);
}
.contactIndex__container__button > span {
  font-size: 18px;
  font-weight: 500;
}
.contactIndex__container__button > svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.darkTheme .contactIndex {
  background-color: var(--darkMode-color);
}

.darkTheme .contactIndex__head {
  border-bottom: none;
}

.weather {
  padding-top: 30px;
  padding-bottom: 30px;
  transition: var(--transition-main);
}
.weather__head {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--primary-color);
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-color);
  font-weight: 500;
  transition: var(--transition-main);
}
.weather__container {
  height: 200px;
  background-image: url("../images/weather/weatherNightBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  transition: var(--transition-main);
}
.weather__container__temp {
  color: var(--white-steady);
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.weather__container__temp__current {
  font-size: 35px;
  text-align: center;
  margin-top: 10px;
}
.weather__container__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.weather__container__data__icon {
  width: 85px;
}
.weather__container__data__text {
  color: var(--white-steady);
  font-weight: 500;
  max-width: 85px;
  text-align: center;
  text-wrap: wrap;
}

.darkTheme .weather {
  background-color: var(--darkMode-color);
}

.darkTheme .weather__head {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme .weather__container {
  border: 2px solid var(--accent-color);
}

.mobileMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: var(--white-steady);
  width: 100%;
  height: 100%;
  z-index: 999999999;
  overflow-y: scroll;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border: 2px solid var(--secondary-color);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-main);
}
.mobileMenu__close {
  fill: var(--primary-color);
  width: 20px;
  height: 20px;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: var(--transition-main);
  cursor: pointer;
}
.mobileMenu__navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-right: 40px;
  margin-top: 80px;
}
.mobileMenu__navigation a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 25px;
  transition: var(--transition-main);
}
.mobileMenu__navigation > li {
  margin-bottom: 25px;
  border-bottom: 2px solid var(--accent-color);
}
.mobileMenu__facebook {
  color: var(--primary-color);
  margin-top: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 25px;
  padding-bottom: 20px;
  transition: var(--transition-main);
}
.mobileMenu__facebook--icon {
  width: 25px;
  height: 25px;
  fill: var(--facebook-color);
}

.activeMenu {
  opacity: 1;
  visibility: visible;
  transition: var(--transition-main);
}

.activeTab a {
  color: var(--secondary-color);
  text-shadow: 1px 2px 2px var(--primary-color);
  transition: var(--transition-main);
}

.mobileContact {
  list-style: none;
  display: flex;
  padding-right: 40px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
}
.mobileContact__background {
  background-color: var(--accent-color);
  border-radius: 4px;
  width: 60px;
  height: 60px;
  position: relative;
}
.mobileContact__background--icon {
  fill: var(--primary-color);
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.languageList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;
}

.languageSelect {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition-main);
  filter: brightness(90%);
}
.languageSelect:focus, .languageSelect:hover {
  transform: scale(1.15);
  filter: brightness(105%);
}

.toggleSlider {
  position: relative;
  width: 55px;
  height: 20px;
  left: 20px;
  top: 20px;
}
.toggleSlider__icon {
  position: absolute;
  width: 17px;
  height: 17px;
}
.toggleSlider__icon--sun {
  left: 60px;
  top: 2px;
  opacity: 0;
  visibility: hidden;
  transition: 250ms ease-in-out;
}
.toggleSlider__icon--moon {
  left: 68px;
  top: 10px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: 250ms ease-in-out;
  fill: var(--accent-color);
}

.activateIcon {
  opacity: 1;
  visibility: visible;
  transition: 250ms ease-in-out;
}

.darkModeSlider {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  border-radius: 50px;
  transition: 0.4s;
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.1019607843);
  width: 55px;
  height: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15.35px;
  width: 15.35px;
  left: 3px;
  bottom: 2.5px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(232, 234, 234));
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1647058824);
}

.darkModeSlider:checked + .slider {
  background: var(--buttons-theme);
}

.darkModeSlider:checked + .slider:before {
  transform: translateX(34px);
}

.darkModeInfo {
  position: absolute;
  bottom: 90%;
  left: 30%;
  transform: translateX(-50%);
  background-color: grey;
  color: var(--accent-color);
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  z-index: 1000;
}

.darkModeInfo::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: grey transparent transparent transparent;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mobileMenu {
    width: 50%;
    height: 65%;
  }
}
@media (min-width: 1024px) {
  .toggleSlider {
    left: 0;
    top: 1px;
  }
  .slider {
    width: 35px;
    height: 15px;
  }
  .slider:before {
    height: 11px;
    width: 11px;
    bottom: 2.3px;
  }
  .darkModeSlider:checked + .slider:before {
    transform: translateX(18px);
  }
  .toggleSlider:hover .darkModeInfo {
    opacity: 1;
    visibility: visible;
  }
}
.darkTheme .mobileMenu {
  background-color: var(--darkMode-color);
  transition: var(--transition-main);
}

.darkTheme .mobileMenu__facebook,
.darkTheme .mobileMenu__navigation a {
  color: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .mobileMenu__close {
  fill: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .activeTab a {
  color: var(--secondary-color);
  transition: var(--transition-main);
}

.locationCard {
  min-width: 350px;
  width: 100%;
}
.locationCard__header {
  margin: 0;
  padding-top: 30px;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  border-bottom: solid 2px var(--primary-color);
  font-weight: 500;
}
.locationCard__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 380px;
  margin: 0 auto;
}
.locationCard__box__address p {
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}
.locationCard__box svg {
  width: 70px;
  fill: var(--primary-color);
}

.apartment {
  background-color: var(--accent-color);
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  min-width: 350px;
}
.apartment__image {
  width: 100%;
  border-radius: 4px;
}

.apartment p {
  margin-bottom: 0;
  text-align: justify;
  font-size: 20px;
}

.googleMapsContainer {
  min-width: 350px;
}
.googleMapsContainer__map {
  width: 100%;
  min-width: 300px;
  height: auto;
  border-radius: 4px;
  margin-top: 25px;
}

.navigateTo {
  min-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navigateTo__button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
  background: var(--buttons-theme);
  cursor: pointer;
  color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-color);
  box-shadow: 5px 5px 8px var(--primary-color);
  margin: 20px 0px 30px;
  text-decoration: none;
}
.navigateTo__button:focus, .navigateTo__button:hover {
  background: rgb(215, 207, 120) 50%;
}
.navigateTo__button > span {
  font-size: 18px;
  font-weight: 500;
}
.navigateTo__button > svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.parking {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--accent-color);
  min-width: 350px;
  width: 100%;
}
.parking__head {
  margin: 0;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  border-bottom: solid 2px var(--primary-color);
  font-weight: 500;
}
.parking__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 20px;
}
.parking__box__description {
  margin: 0;
  width: 120px;
}
.parking__box__icon {
  width: 80px;
  height: 80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .googleMapsContainer__map {
    display: block;
    max-width: 580px;
    justify-self: center;
    margin-top: 0;
    padding-top: 25px;
  }
}
@media (min-width: 1024px) {
  .apartment {
    display: flex;
  }
  .apartment__image {
    width: 35%;
    margin-left: 50px;
    margin-right: 50px;
    transition: var(--transition-main);
    cursor: zoom-in;
  }
  .apartment__image:focus, .apartment__image:hover {
    transform: scale(1.37);
  }
  .apartment > p {
    text-align: justify;
    margin: 0px 50px;
  }
}
.darkTheme .locationCard {
  background-color: var(--darkMode-color);
}

.darkTheme .locationCard__header {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme .locationCard__box svg {
  fill: var(--accent-color);
}

.darkTheme .navigateTo {
  background-color: var(--darkMode-color);
}

.darkTheme .apartment {
  background-color: var(--darkMode-color);
  padding-top: 0;
  padding-bottom: 0;
}

.darkTheme .googleMaps {
  padding-top: 0px;
}

.darkTheme .googleMapsContainer {
  background-color: var(--darkMode-color);
  width: 100%;
}

.darkTheme .navigateTo__button {
  box-shadow: 5px 5px 8px var(--darkMode-color);
}

.darkTheme .parking {
  background-color: var(--darkMode-color);
  padding-top: 0;
  padding-bottom: 0;
}

.darkTheme .parking__head {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme .parking__box__icon {
  fill: var(--accent-color);
}

.bookings {
  width: 100%;
  background-color: var(--accent-color);
  min-width: 350px;
  padding-bottom: 30px;
}
.bookings__head {
  margin: 0;
  padding-top: 30px;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  border-bottom: solid 2px var(--primary-color);
  font-weight: 500;
}

.legend {
  display: flex;
  flex-direction: column;
}
.legend__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.legend__item__box {
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.legend__item__box--notAvailable {
  background-color: rgb(255, 191, 191);
}
.legend__item__box--available {
  background-color: rgb(249, 249, 249);
}
.legend__item__box--current {
  border: 2px solid rgb(45, 228, 229);
}

.termsConditionsBtn {
  border: 3px solid var(--black-steady);
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  margin: 20px auto;
}

#smoobuCalendarIframe .smallDevices {
  width: 100%;
  display: block;
  height: 650px;
}

.bookingForm {
  width: 100%;
  margin-top: 15px;
}
.bookingForm__head {
  margin: 0;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  border-bottom: solid 2px var(--primary-color);
  font-weight: 500;
}
.bookingForm__box {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px;
  max-width: 350px;
  margin: 20px auto 0px;
}

input,
#reservationForm textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--black-steady);
}

#reservationForm input[type=text],
#reservationForm input[type=date],
#reservationForm input[type=email] {
  padding-left: 40px;
  background-color: var(--white-steady);
}

.formItem {
  position: relative;
}

.formIcon {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 25px;
  height: 25px;
  fill: var(--primary-color);
}

.formItem input {
  height: 40px;
}

textarea {
  resize: none;
  height: 80px;
  padding: 5px;
}

#reservationForm button {
  border: 3px solid var(--black-steady);
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.bookingForm span {
  color: red;
}

.termsAgreement {
  display: flex;
}
.termsAgreement__input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.termsAgreement__label {
  font-size: 18px;
  line-height: 1.2;
}

.formInfo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  transition: all 250ms ease-in-out;
  visibility: hidden;
}
.formInfo__box {
  width: 250px;
  height: 150px;
  background-color: var(--accent-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-color);
  gap: 15px;
}
.formInfo__box__description {
  text-align: center;
  font-size: 18px;
  margin: 0;
  color: var(--primary-color);
}
.formInfo__box__closeBtn {
  width: 80px;
  height: 40px;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  background-color: transparent;
  font-weight: 500;
  display: block;
  cursor: pointer;
}

.formInfo.active {
  visibility: visible;
}

.darkTheme .bookings {
  background-color: var(--darkMode-color);
}

.darkTheme h2 {
  color: var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
}

.darkTheme .bookingForm__box {
  border: 2px solid var(--accent-color);
}

.darkTheme #reservationForm button,
.darkTheme .termsConditionsBtn {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}

.contact {
  min-width: 350px;
  width: 100%;
  background-color: var(--accent-color);
  padding-bottom: 30px;
  box-shadow: 0px 9px 19px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 19px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 19px -3px rgba(0, 0, 0, 0.75);
}
.contact__head {
  margin: 0;
  padding-top: 30px;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  border-bottom: solid 2px var(--primary-color);
  font-weight: 500;
}

.contactCard {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0;
}
.contactCard__box {
  background-color: var(--accent-color);
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  height: 260px;
  position: relative;
  box-shadow: 7px 9px 19px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 9px 19px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 9px 19px -3px rgba(0, 0, 0, 0.75);
}
.contactCard__box__head {
  margin: 0;
  padding-top: 20px;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: start;
  padding-left: 40px;
  font-size: 24px;
  font-weight: 500;
}
.contactCard__box__name {
  margin: 0;
  padding-top: 50px;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.contactCard__box__number {
  margin-top: 20px;
  line-height: 1.5;
  color: var(--primary-color);
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  display: flex;
}
.contactCard__iconBackground {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: var(--white-steady);
  position: absolute;
  bottom: 220px;
  left: 60%;
  border: 2px solid var(--primary-color);
}
.contactCard__iconBackground__icon {
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  fill: var(--primary-color);
}

.contact p {
  text-align: justify;
  font-size: 20px;
}

ul.contactCard li:nth-child(2) .contactCard__box__name {
  padding-top: 40px;
}

.mainContactSection {
  width: 100%;
  min-width: 350px;
  padding-top: 50px;
}

@media (min-width: 1024px) {
  .contactCard {
    display: flex;
    flex-direction: row;
  }
  .contactCard__box {
    transition: var(--transition-main);
  }
  .contactCard__box:focus, .contactCard__box:hover {
    transform: scale(1.05);
  }
}
.darkTheme .contact {
  background-color: var(--darkMode-color);
}

.darkTheme .contact__head {
  color: var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
}

.darkTheme .mainContactSection {
  background-color: var(--darkMode-color);
  padding-top: 10px;
}

.darkTheme .contactCard__box__name {
  color: var(--primary-color);
}

.policy {
  min-width: 350px;
  padding-bottom: 30px;
}
.policy__mainHead {
  margin: 0;
  padding-top: 30px;
  line-height: 1.5;
  color: var(--primary-color);
  text-align: center;
  font-size: 24px;
  border-bottom: solid 2px var(--primary-color);
  font-weight: 500;
  transition: var(--transition-main);
}
.policy__secondaryHead {
  margin: 0;
  padding-top: 20px;
  line-height: 1.5;
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  transition: var(--transition-main);
}

.darkTheme .policy__mainHead {
  color: var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .policy__secondaryHead,
.darkTheme p,
.darkTheme li {
  color: var(--accent-color);
  transition: var(--transition-main);
}

.darkTheme .policy {
  background-color: var(--darkMode-color);
}/*# sourceMappingURL=main.css.map */