@import "./utils/common";
@import "./utils/vars";
@import "./components/header.scss";
@import "./components/main.scss";
@import "./components/aptDescription.scss";
@import "./components/aptEquipment.scss";
@import "./components/footer.scss";
@import "./components/galleryIndex.scss";
@import "./components/gallery.scss";
@import "./components/about.scss";
@import "./components/locationIndex.scss";
@import "./components/infoCity.scss";
@import "./components/travel.scss";
@import "./components/contactIndex.scss";
@import "./components/weather.scss";
@import "./components/mobileMenu.scss";
@import "./components/locationCard.scss";
@import "./components/bookings.scss";
@import "./components/contact.scss";
@import "./components/policy.scss";
