.about {
  background-color: aliceblue;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;

  &__image {
    width: 100%;
    border-radius: 25px;
  }

  &__box {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
  }
}
