.aptDescription {
  background-color: aliceblue;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  &__head {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    margin: 0px;
  }
  &__description {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

//Dark mode
.darkTheme .aptDescription {
  background-color: rgb(22, 22, 22);
}
.darkTheme .aptDescription__head,
.darkTheme .aptDescription__description {
  color: aliceblue;
}
