.aptDescription {
  background-color: aliceblue;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  &__head {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    margin: 0px;
    border-bottom: 2px solid #2f303a;
    line-height: 1.5;
    color: #2f303a;
    font-weight: 500;
  }
  &__description {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

//Dark mode
.darkTheme .aptDescription {
  background-color: rgb(32, 32, 32);
}
.darkTheme .aptDescription__head {
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
}
.darkTheme .aptDescription__description {
  color: aliceblue;
}
