.bookings {
  width: 100%;

  background-color: aliceblue;
  min-width: 350px;
  padding-bottom: 30px;

  &__head {
    margin: 0;

    padding-top: 30px;
    line-height: 1.5;
    color: #2f303a;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px #2f303a;
    font-weight: 500;
  }
}

.legend {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &__box {
      width: 30px;
      height: 30px;
      border-radius: 4px;

      &--notAvailable {
        background-color: rgb(255, 191, 191);
      }

      &--available {
        background-color: rgb(249, 249, 249);
      }

      &--current {
        border: 2px solid rgb(45, 228, 229);
      }
    }
  }
}
.termsConditionsBtn {
  border: 3px solid black;
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;

  margin: 20px auto;
}

#smoobuCalendarIframe .smallDevices {
  width: 100%;
  display: block;
  height: 640px;
}

.bookingForm {
  width: 100%;
  margin-top: 15px;
  &__head {
    margin: 0;

    line-height: 1.5;
    color: #2f303a;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px #2f303a;
    font-weight: 500;
  }
  &__box {
    border: 2px solid #2f303a;
    border-radius: 4px;

    padding: 20px;
    max-width: 350px;
    margin: 20px auto 0px;
  }
}

.formItem input,
#reservationForm textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid black;
}

#reservationForm input[type="text"],
#reservationForm input[type="date"],
#reservationForm input[type="email"] {
  padding-left: 40px;
  background-color: white;
}

.formItem {
  position: relative;
}
.formIcon {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 25px;
  height: 25px;
  fill: #2f303a;
}

.formItem input {
  height: 40px;
}

textarea {
  resize: none;
  height: 80px;
  padding: 5px;
}

#reservationForm button {
  border: 3px solid black;
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;

  margin: 20px auto;
}

.bookingForm span {
  color: red;
}

.termsAgreement {
  display: flex;
  &__input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  &__label {
    font-size: 18px;
    line-height: 1.2;
  }
}
