.bookings {
  width: 100%;

  background-color: aliceblue;
  min-width: 350px;
  padding-bottom: 30px;

  &__head {
    margin: 0;

    padding-top: 30px;
    line-height: 1.5;
    color: #2f303a;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px #2f303a;
    font-weight: 500;
  }
}

.legend {
  display: flex;
  align-items: center;
  gap: 10px;
  &__box {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 191, 191);
    border-radius: 4px;
  }
}
.termsConditionsBtn {
  border: 3px solid black;
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;

  margin: 20px auto;
}

#smoobuCalendarIframe .smallDevices {
  width: 100%;
  display: block;
  height: 750px;
}
