.bookings {
  width: 100%;
  background-color: var(--accent-color);
  min-width: 350px;
  padding-bottom: 30px;

  &__head {
    margin: 0;
    padding-top: 30px;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px var(--primary-color);
    font-weight: 500;
  }
}

.legend {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &__box {
      width: 30px;
      height: 30px;
      border-radius: 4px;

      &--notAvailable {
        background-color: rgb(255, 191, 191);
      }

      &--available {
        background-color: rgb(249, 249, 249);
      }

      &--current {
        border: 2px solid rgb(45, 228, 229);
      }
    }
  }
}
.termsConditionsBtn {
  border: 3px solid var(--black-steady);
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  margin: 20px auto;
}

#smoobuCalendarIframe .smallDevices {
  width: 100%;
  display: block;
  height: 650px;
}

.bookingForm {
  width: 100%;
  margin-top: 15px;
  &__head {
    margin: 0;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px var(--primary-color);
    font-weight: 500;
  }
  &__box {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    padding: 20px;
    max-width: 350px;
    margin: 20px auto 0px;
  }
}

input,
#reservationForm textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--black-steady);
}

#reservationForm input[type="text"],
#reservationForm input[type="date"],
#reservationForm input[type="email"] {
  padding-left: 40px;
  background-color: var(--white-steady);
}

.formItem {
  position: relative;
}
.formIcon {
  position: absolute;
  left: 10px;
  top: 25px;
  width: 25px;
  height: 25px;
  fill: var(--primary-color);
}

.formItem input {
  height: 40px;
}

textarea {
  resize: none;
  height: 80px;
  padding: 5px;
}

#reservationForm button {
  border: 3px solid var(--black-steady);
  border-radius: 4px;
  background-color: transparent;
  width: 200px;
  height: 50px;
  font-weight: 500;
  display: block;
  margin: 20px auto;
  cursor: pointer;
}

.bookingForm span {
  color: red;
}

.termsAgreement {
  display: flex;
  &__input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  &__label {
    font-size: 18px;
    line-height: 1.2;
  }
}

.formInfo {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  transition: all 250ms ease-in-out;
  visibility: hidden;

  &__box {
    width: 250px;
    height: 150px;
    background-color: var(--accent-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-color);
    gap: 15px;
    &__description {
      text-align: center;
      font-size: 18px;
      margin: 0;
      color: var(--primary-color);
    }

    &__closeBtn {
      width: 80px;
      height: 40px;
      border: 3px solid var(--primary-color);
      border-radius: 4px;
      background-color: transparent;
      font-weight: 500;
      display: block;
      cursor: pointer;
    }
  }
}

.formInfo.active {
  visibility: visible;
}

//Dark mode
.darkTheme .bookings {
  background-color: var(--darkMode-color);
}

.darkTheme h2 {
  color: var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
}

.darkTheme .bookingForm__box {
  border: 2px solid var(--accent-color);
}

.darkTheme #reservationForm button,
.darkTheme .termsConditionsBtn {
  border: 3px solid var(--accent-color);
  color: var(--accent-color);
}
