.contact {
  min-width: 350px;
  width: 100%;
  background-color: var(--accent-color);
  padding-bottom: 30px;
  box-shadow: 0px 9px 19px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 19px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 19px -3px rgba(0, 0, 0, 0.75);
  &__head {
    margin: 0;
    padding-top: 30px;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px var(--primary-color);
    font-weight: 500;
  }
}

.contactCard {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0;

  &__box {
    background-color: var(--accent-color);
    width: 300px;
    margin: 0 auto;
    border-radius: 4px;
    height: 260px;
    position: relative;
    box-shadow: 7px 9px 19px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 9px 19px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 19px -3px rgba(0, 0, 0, 0.75);

    &__head {
      margin: 0;
      padding-top: 20px;
      line-height: 1.5;
      color: var(--primary-color);
      text-align: start;
      padding-left: 40px;
      font-size: 24px;
      font-weight: 500;
    }

    &__name {
      margin: 0;
      padding-top: 50px;
      line-height: 1.5;
      color: var(--primary-color);
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }
    &__number {
      margin-top: 20px;
      line-height: 1.5;
      color: var(--primary-color);
      margin: 0 auto;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      display: flex;
    }
  }

  &__iconBackground {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    background-color: var(--white-steady);
    position: absolute;
    bottom: 220px;
    left: 60%;
    border: 2px solid var(--primary-color);

    &__icon {
      width: 40px;
      height: 40px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      fill: var(--primary-color);
    }
  }
}

.contact p {
  text-align: justify;
  font-size: 20px;
}

ul.contactCard li:nth-child(2) .contactCard__box__name {
  padding-top: 40px;
}

.mainContactSection {
  width: 100%;
  min-width: 350px;
  padding-top: 50px;
}

@media (min-width: 1024px) {
  .contactCard {
    display: flex;
    flex-direction: row;

    &__box {
      transition: var(--transition-main);
      &:focus,
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

//Dark mode
.darkTheme .contact {
  background-color: var(--darkMode-color);
}

.darkTheme .contact__head {
  color: var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
}

.darkTheme .mainContactSection {
  background-color: var(--darkMode-color);
  padding-top: 10px;
}

.darkTheme .contactCard__box__name {
  color: var(--primary-color);
}
