.footer {
  background-color: var(--primary-color);
  width: 100%;
  min-width: 350px;
  height: 100%;
  justify-content: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(170, 131, 67, 1);

  &__logo {
    width: 250px;
    height: auto;
  }

  &__address {
    margin-top: 20px;

    &--head {
      text-align: center;
      margin-bottom: 10px !important;
    }
  }

  &__address > p {
    color: var(--accent-color);
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: center;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  &__contact > p {
    color: var(--accent-color);
    text-align: center;
    margin: 0 0 10px;
  }
  &__contact > a {
    color: var(--accent-color);
    text-align: center;
    text-decoration: none;
  }

  &__facebook {
    color: var(--accent-color);
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    transition: var(--transition-main);

    &:focus,
    &:hover {
      transform: scale(1.05);
    }

    &--icon {
      width: 20px;
      height: 20px;
      fill: var(--facebook-color);
    }
  }
  &__terms {
    color: var(--accent-color);
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 10px;

    &--icon {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      fill: var(--accent-color);
    }
  }
}

.availability {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__head {
    color: var(--accent-color);
    font-size: 20px;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
  }
  &__button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background: var(--buttons-theme);
    cursor: pointer;
    color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color);
    margin-top: 20px;
    text-decoration: none;

    &:hover,
    &:focus {
      background: rgba(215, 207, 120, 1) 50%;
      box-shadow: 5px 5px 8px rgb(48, 46, 46);
      color: rgb(48, 46, 46);
      fill: rgb(48, 46, 46);
    }
  }

  &__button > span {
    font-size: 18px;
    font-weight: 500;
  }

  &__button > svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//Media tablet style and desktop
@media (min-width: 768px) {
  .footerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
  }

  .footerContent > div {
    flex-basis: calc((50% - 10px) / 4);
  }

  .footer {
    padding-top: 20px;
    &__logo {
      width: 150px;
    }

    &__contact,
    &__address {
      margin-top: 0;
    }
  }
  .availability {
    margin-top: 0;
    &__button {
      margin-top: 5px;
    }
  }
}
