.gallery {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

//swiper style
.swiper {
  width: 90%;
  height: fit-content;
  margin: 0;
  border-radius: 25px;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
}
