.gallery {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 30px;

  &__link {
    margin-top: 20px;
  }

  &__button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background: rgb(170, 131, 67);
    background: linear-gradient(
      90deg,
      rgba(170, 131, 67, 1) 0%,
      rgba(215, 207, 120, 1) 50%,
      rgba(170, 131, 67, 1) 100%
    );
    cursor: pointer;
    color: #2f303a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: #2f303a;
    box-shadow: 5px 5px 8px #2f303a;
  }

  &__button > span {
    font-size: 18px;
    font-weight: 500;
  }

  &__button > svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }

  &__button:focus,
  &__button:hover {
    background: rgba(215, 207, 120, 1) 50%;
    border: 2px solid #2f303a;
  }
}

//swiper style
.swiper {
  width: 90%;
  height: fit-content;
  margin: 0;
  border-radius: 25px;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #2f303a !important;
}

.imagesGallery img {
  width: 100%;
  border-radius: 20px;
}

.imagesGallery {
  padding-bottom: 20px;
  width: 100%;
  min-width: 350px;

  &__header {
    line-height: 1.5;
    color: #2f303a;
    text-align: center;
    font-size: 26px;
    border-bottom: solid 2px #2f303a;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.gallery.darkTheme {
  background-color: rgb(22, 22, 22);
}
.gallery.darkTheme .gallery__button {
  box-shadow: 5px 5px 8px rgb(22, 22, 22);
}
