.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  min-width: 350px;

  &__bgColor {
    background-color: var(--primary-color);
    border-bottom: 1px solid rgba(170, 131, 67, 1);
  }

  &__logo {
    width: 100px;
    height: auto;
  }

  &__mobileBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &__icon {
      width: 30px;
      height: 30px;
      fill: var(--secondary-color);
    }
  }

  &__fbLink {
    display: none;
  }
}

.navigation {
  display: none;
  list-style: none;
  padding-left: 0px;
  gap: 30px;
}
