.infoCity {
  background-color: aliceblue;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  &__head {
    margin: 0px 0px 20px;
    text-align: center;
    border-bottom: 2px solid #2f303a;
    font-size: 24px;
    line-height: 1.5;
    color: #2f303a;
    font-weight: 500;
  }
  &__image {
    width: 100%;
    border-radius: 4px;
  }
}

.infoCity > p {
  margin: 20px 0px 0px;
}

//Dark mode
.darkTheme .infoCity {
  background-color: rgb(32, 32, 32);
  padding-bottom: 0px;
  padding-top: 0px;
}

.darkTheme .infoCity__head {
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
}

.darkTheme p {
  color: aliceblue;
}
