.location {
  padding-top: 30px;
  padding-bottom: 30px;

  &__head {
    margin-top: 0;
    text-align: center;
  }

  &__map {
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    gap: 25px;
    margin: 0 auto;
    align-items: center;
    max-width: 450px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__distance {
    background-color: aliceblue;
    border-radius: 25px;
    border: 2px solid black;
    margin: 0 auto;
    padding-right: 40px;
    max-width: 450px;

    &--list {
      margin: 0;
      padding-bottom: 15px;
      margin-top: 15px;
    }
  }
}
