.locationCard {
  min-width: 350px;
  width: 100%;
  &__header {
    margin: 0;
    padding-top: 30px;
    line-height: 1.5;
    color: #2f303a;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px #2f303a;
    font-weight: 500;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;

    &__address p {
      font-style: normal;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &__box svg {
    width: 70px;
    fill: #2f303a;
  }
}

.apartment {
  background-color: aliceblue;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  min-width: 350px;

  &__image {
    width: 100%;
    border-radius: 4px;
  }
}
.apartment p {
  margin-bottom: 0;
}
.googleMapsContainer {
  min-width: 350px;
  &__map {
    width: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 4px;
    margin-top: 25px;
  }
}

.navigateTo {
  min-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__link {
    margin: 20px 0px 30px;
  }

  &__button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background: rgb(170, 131, 67);
    background: linear-gradient(
      90deg,
      rgba(170, 131, 67, 1) 0%,
      rgba(215, 207, 120, 1) 50%,
      rgba(170, 131, 67, 1) 100%
    );
    cursor: pointer;
    color: #2f303a;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: #2f303a;
    box-shadow: 5px 5px 8px #2f303a;
  }
  &__button > span {
    font-size: 18px;
    font-weight: 500;
  }

  &__button > svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.parking {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aliceblue;
  min-width: 350px;
  width: 100%;
  &__head {
    margin: 0;
    line-height: 1.5;
    color: #2f303a;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px #2f303a;
    font-weight: 500;
  }
  &__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 20px;
    &__description {
      margin: 0;
      width: 120px;
    }
    &__icon {
      width: 80px;
      height: 80px;
    }
  }
}

//Dark mode
.darkTheme .locationCard {
  background-color: rgb(32, 32, 32);
}

.darkTheme .locationCard__header {
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
}

.darkTheme .locationCard__box svg {
  fill: aliceblue;
}

.darkTheme .navigateTo {
  background-color: rgb(32, 32, 32);
}

.darkTheme .apartment {
  background-color: rgb(32, 32, 32);
  padding-top: 0;
  padding-bottom: 0;
}

.darkTheme .googleMaps {
  padding-top: 0px;
}

.darkTheme .googleMapsContainer {
  background-color: rgb(32, 32, 32);
  width: 100%;
}

.darkTheme .navigateTo__button {
  box-shadow: 5px 5px 8px rgb(32, 32, 32);
}

.darkTheme .parking {
  background-color: rgb(32, 32, 32);
  padding-top: 0;
  padding-bottom: 0;
}

.darkTheme .parking__head {
  color: aliceblue;
  border-bottom: 2px solid aliceblue;
}

.darkTheme .parking__box__icon {
  fill: aliceblue;
}
