.locationCard {
  min-width: 350px;
  width: 100%;
  &__header {
    margin: 0;
    padding-top: 30px;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px var(--primary-color);
    font-weight: 500;
  }

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;

    &__address p {
      font-style: normal;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &__box svg {
    width: 70px;
    fill: var(--primary-color);
  }
}

.apartment {
  background-color: var(--accent-color);
  width: 100%;
  padding-bottom: 30px;
  padding-top: 30px;
  min-width: 350px;

  &__image {
    width: 100%;
    border-radius: 4px;
  }
}
.apartment p {
  margin-bottom: 0;
  text-align: justify;
  font-size: 20px;
}
.googleMapsContainer {
  min-width: 350px;
  &__map {
    width: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 4px;
    margin-top: 25px;
  }
}

.navigateTo {
  min-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;

  &__button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background: var(--buttons-theme);
    cursor: pointer;
    color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: var(--primary-color);
    box-shadow: 5px 5px 8px var(--primary-color);
    margin: 20px 0px 30px;
    text-decoration: none;
    &:focus,
    &:hover {
      background: rgba(215, 207, 120, 1) 50%;
    }
  }

  &__button > span {
    font-size: 18px;
    font-weight: 500;
  }

  &__button > svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
}

.parking {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--accent-color);
  min-width: 350px;
  width: 100%;
  &__head {
    margin: 0;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    font-size: 24px;
    border-bottom: solid 2px var(--primary-color);
    font-weight: 500;
  }
  &__box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    padding-top: 20px;
    &__description {
      margin: 0;
      width: 120px;
    }
    &__icon {
      width: 80px;
      height: 80px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .googleMapsContainer {
    &__map {
      display: block;
      max-width: 580px;
      justify-self: center;
      margin-top: 0;
      padding-top: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .apartment {
    display: flex;

    &__image {
      width: 35%;
      margin-left: 50px;
      margin-right: 50px;
      transition: var(--transition-main);
      cursor: zoom-in;

      &:focus,
      &:hover {
        transform: scale(1.37);
      }
    }
  }
  .apartment > p {
    text-align: justify;
    margin: 0px 50px;
  }
}

//Dark mode
.darkTheme .locationCard {
  background-color: var(--darkMode-color);
}

.darkTheme .locationCard__header {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme .locationCard__box svg {
  fill: var(--accent-color);
}

.darkTheme .navigateTo {
  background-color: var(--darkMode-color);
}

.darkTheme .apartment {
  background-color: var(--darkMode-color);
  padding-top: 0;
  padding-bottom: 0;
}

.darkTheme .googleMaps {
  padding-top: 0px;
}

.darkTheme .googleMapsContainer {
  background-color: var(--darkMode-color);
  width: 100%;
}

.darkTheme .navigateTo__button {
  box-shadow: 5px 5px 8px var(--darkMode-color);
}

.darkTheme .parking {
  background-color: var(--darkMode-color);
  padding-top: 0;
  padding-bottom: 0;
}

.darkTheme .parking__head {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.darkTheme .parking__box__icon {
  fill: var(--accent-color);
}
