.locationIndex {
  padding-top: 30px;
  padding-bottom: 30px;
  &__head {
    margin: 0;
    text-align: center;
  }
  &__description {
    margin: 20px 0px 20px;
  }
  &__map {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    gap: 25px;
    justify-content: space-around;
    max-width: 250px;
    margin: 0 auto;
    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-width: 450px;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &__graphic {
      width: 80px;
      height: 80px;
      position: relative;
      &__icon {
        width: 65px;
        height: 65px;
        fill: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__distance {
    background-color: aliceblue;
    border-radius: 4px;
    border: 2px solid black;
    margin: 0 auto;
    padding-right: 40px;
    max-width: 450px;
    &__list {
      margin: 0;
      padding-bottom: 15px;
      margin-top: 15px;
    }
  }
}

//Dark mode
.darkTheme .locationIndex {
  background-color: rgb(22, 22, 22);
}

.darkTheme .locationIndex__head,
.darkTheme .locationIndex__description {
  color: aliceblue;
}

.darkTheme label {
  color: aliceblue;
}

.darkTheme select {
  background-color: rgb(22, 22, 22);
  color: aliceblue;
}

.darkTheme .locationIndex__container__graphic__icon {
  fill: aliceblue;
}

.darkTheme .locationIndex__distance {
  background-color: rgb(22, 22, 22);
  color: aliceblue;
  border: 2px solid aliceblue;
}
