.main {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: var(--secondary-color);
    padding: 0px 50px 0px;
    text-shadow: 2px 2px 2px var(--primary-color);
    font-size: 36px;
    font-weight: 600;
  }

  &__headBox {
    transition: var(--transition-main);
    &__description {
      color: var(--accent-color);
      font-size: 26px;
      margin: 30px 0px 30px;
      text-shadow: 2px 2px 2px var(--primary-color);
      text-align: justify;
      border-bottom: 2px solid var(--white-steady);
      padding-bottom: 30px;
      transition: var(--transition-main);
    }
  }
}

.infoList {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
  margin: 30px 0px 40px;
  gap: 15px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70px;
    color: var(--accent-color);
    text-shadow: 2px 2px 2px var(--primary-color);

    &__background {
      width: 50px;
      height: 50px;
      border-radius: 5px;
      position: relative;

      &__icon {
        width: 40px;
        height: 40px;
        fill: var(--accent-color);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: var(--transition-main);
      }
    }
  }
}

//Media tablet style
@media (min-width: 768px) and (max-width: 1023px) {
  .main__headBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__description {
      max-width: 350px;
      border-bottom: none;
      line-height: 1.2;
    }

    .infoList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 300px;
      gap: 5px;

      &__item {
        flex: 1 1 calc(50% - 5px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
  .darkTheme .main__headBox__description {
    border-bottom: none !important;
  }
}
//Media desktop
@media (min-width: 1024px) {
  .main {
    padding-bottom: 150px;
    padding-top: 100px;
    &__headBox {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      &__description {
        max-width: 350px;
        border-bottom: none !important;
        line-height: 1.2;
      }
    }
  }
}

//Dark mode
//Media tablet style dark mode
@media (max-width: 767px) {
  .darkTheme .main__headBox__description,
  .darkTheme .infoList__item p {
    color: var(--black-steady);
    transition: var(--transition-main);
  }

  .darkTheme .infoList__item__background__icon {
    fill: var(--black-steady);
    transition: var(--transition-main);
  }
}

.darkTheme .main__headBox__description {
  border-bottom: 2px solid var(--black-steady);
}

.darkTheme .main__headBox {
  transition: var(--transition-main);
}
