.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  display: none;
  overflow-y: scroll;
  transition: 250ms ease-in-out;

  &__close {
    fill: #2f303a;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    transition: 250ms ease-in-out;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-right: 40px;
    margin-top: 90px;
  }

  &__navigation a {
    text-decoration: none;
    color: #2f303a;
    font-size: 25px;
    transition: 250ms ease-in-out;
  }

  &__navigation > li {
    margin-bottom: 25px;
    border-bottom: 2px solid aliceblue;
  }
  &__facebook {
    color: #2f303a;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    padding-bottom: 20px;
    transition: 250ms ease-in-out;

    &--icon {
      width: 25px;
      height: 25px;
      fill: #316ff6;
    }
  }
}

.mobileContact {
  list-style: none;
  display: flex;
  padding-right: 40px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 60px;

  &__background {
    background-color: aliceblue;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    position: relative;
    border: 2px solid #2f303a;

    &--icon {
      fill: #2f303a;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.languageList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 25px;
}
.languageSelect {
  background-color: transparent;
  border: none;
}

.toggleSlider {
  position: relative;
  width: 61px;
  height: 27px;
  left: 20px;
  top: 20px;
  &__icon {
    position: absolute;
    width: 17px;
    height: 17px;
    fill: #2f303a;
    &--sun {
      left: 65px;
      top: 5px;
      display: none;
    }

    &--moon {
      left: 73px;
      top: 13px;
      transform: translate(-50%, -50%);
      display: none;
      fill: aliceblue;
    }
  }
}

.activateIcon {
  display: block;
}

.darkModeSlider {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  border-radius: 50px;
  transition: 0.4s;
  box-shadow: inset 0px 6px 8px 3px #0000001a;
  width: 61px;
  height: 27px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21.35px;
  left: 3px;
  bottom: 3px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(232, 234, 234, 1)
  );
  border-radius: 50%;
  transition: 0.4s;
  box-shadow: 0px 0px 5px 2px #0000002a;
}

.darkModeSlider:checked + .slider {
  background: rgb(170, 131, 67);
  background: linear-gradient(
    90deg,
    rgba(170, 131, 67, 1) 0%,
    rgba(215, 207, 120, 1) 50%,
    rgba(170, 131, 67, 1) 100%
  );
}

.darkModeSlider:checked + .slider:before {
  transform: translateX(34px);
}

//Dark mode
.darkTheme .mobileMenu {
  background-color: rgb(32, 32, 32);
}

.darkTheme .mobileMenu__facebook,
.darkTheme .mobileMenu__navigation a {
  color: aliceblue;
}

.darkTheme .mobileMenu__close {
  fill: aliceblue;
}
