.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: none;
  overflow-y: scroll;
  transition: 250ms ease-in-out;

  &__close {
    fill: #2f303a;
    width: 20px;
    height: 20px;
    position: fixed;
    right: 20px;
    top: 20px;
    transition: 250ms ease-in-out;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-right: 40px;
    margin-top: 90px;
  }

  &__navigation a {
    text-decoration: none;
    color: #2f303a;
    font-size: 25px;
    transition: 250ms ease-in-out;
  }

  &__navigation > li {
    margin-bottom: 25px;
    border-bottom: 2px solid aliceblue;
  }
  &__facebook {
    color: #2f303a;
    margin-top: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    padding-bottom: 20px;
    transition: 250ms ease-in-out;

    &--icon {
      width: 25px;
      height: 25px;
      fill: #316ff6;
    }
  }
}

.mobileContact {
  list-style: none;
  display: flex;
  padding-right: 40px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 60px;

  &__background {
    background-color: aliceblue;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    position: relative;
    border: 2px solid #2f303a;

    &--icon {
      fill: #2f303a;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.mobileMenu.darkTheme {
  background-color: rgb(22, 22, 22);
  transition: 250ms ease-in-out;
}
.mobileMenu.darkTheme > .mobileMenu__close {
  fill: aliceblue;
  transition: 250ms ease-in-out;
}
.mobileMenu.darkTheme a {
  color: aliceblue;
  transition: 250ms ease-in-out;
}
