.travel {
  background-color: var(--accent-color);
  border-bottom: 30px solid var(--white-steady);
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    &__graphic {
      width: 150px;
      height: auto;
    }
  }
}

//Dark mode
.darkTheme .travel {
  background-color: var(--darkMode-color);
  border-bottom: 0px;
}

.darkTheme .travel li {
  color: var(--accent-color);
}
