.travel {
  background-color: aliceblue;
  border-bottom: 30px solid white;
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: 0 auto;
    &__graphic {
      width: 150px;
      height: auto;
    }
  }
}

//Dark mode
.darkTheme .travel {
  background-color: rgb(32, 32, 32);
  border-bottom: 0px;
}

.darkTheme .travel li {
  color: aliceblue;
}
