body.index {
  background-image: url("../../../bergantinApartmentWebSite/images/torraviejaMobile/torraviejaMobile_1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999;
  min-width: 350px;
  width: 100%;
  height: 1250px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../bergantinApartmentWebSite/images/torraviejaMobile/torraviejaMobile_2x.jpg");
  }

  @media (min-resolution: 3dppx) {
    background-image: url("../../../bergantinApartmentWebSite/images/torraviejaMobile/torraviejaMobile_3x.jpg");
  }
}

body {
  font-family: "poppins", sans-serif;
}

.container {
  padding-left: 25px;
  padding-right: 25px;
}
